In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("S02_21.08.20_14.34.32.csv")

In [43]:
df.head()

,Timestamp,EEG.Counter,EEG.AF3,EEG.F7,EEG.F3,EEG.FC5,EEG.T7,EEG.P7,EEG.O1,EEG.O2,EEG.P8,EEG.T8,EEG.FC6,EEG.F4,EEG.F8,EEG.AF4,MarkerIndex,MarkerType,MarkerValueInt
0,1.598001e+09,128,4048.718018,4152.307617,4190.256348,4169.230957,4164.102539,4210.256348,4175.384766,4177.948730,4195.384766,4176.410156,4188.717773,4203.589844,3986.153809,3181.538574,NaN,NaN,NaN
1,1.598001e+09,0,4052.307617,4152.307617,4192.307617,4168.205078,4153.846191,4215.897461,4178.974121,4180.512695,4193.846191,4172.307617,4189.743652,4204.615234,3985.641113,3189.230713,NaN,NaN,NaN
2,1.598001e+09,1,4060.512939,4155.384766,4194.871582,4169.743652,4150.256348,4218.461426,4180.512695,4181.025879,4194.871582,4173.846191,4189.743652,4205.641113,3987.692383,3196.923096,NaN,NaN,NaN
3,1.598001e+09,2,4061.538574,4156.410156,4191.794922,4171.282227,4144.102539,4210.256348,4175.897461,4177.948730,4198.461426,4177.436035,4186.666504,4205.641113,3987.179443,3202.051270,NaN,NaN,NaN
4,1.598001e+09,3,4053.846191,4149.230957,4186.666504,4166.666504,4142.563965,4206.153809,4171.794922,4174.358887,4198.974121,4169.743652,4182.563965,4200.512695,3976.923096,3205.641113,NaN,NaN,NaN

In [48]:
l = df["MarkerValueInt"].fillna("nan")

In [51]:
for i in l:
    if i == 1.0:
        print(i)
        break

1.0

In [93]:
k = ["nan","nan",1.0,"nan","nan",23.0]
l = ["1", "2" , "3", "4", "5","6"]

In [81]:
for i in k:
    print(i)
    print(type(i))

nan
<class 'str'>
nan
<class 'str'>
1.0
<class 'float'>
nan
<class 'str'>
nan
<class 'str'>
23.0
<class 'float'>

In [94]:
start = 0
last = 0
for i in range (0,len(k)):
    last = i
    if type(k[i]) == float:
        print(str(start) +" "+ str(last))
        print(l[start:last])
        start = last

0 2
['1', '2']
2 5
['3', '4', '5']

In [70]:
len(k)

6

In [106]:
start = 0

for i in range (0,len(k)):
   
    last = i
    if type(k[i]) == float:
        print(k[i])
        str(start) +" "+ str(last)
        print(l[start:last])
        start = last

1.0
['1', '2']
23.0
['3', '4', '5']

In [100]:
t

[None, None]